ejercicio7git.dtd

<!--ejercicio7-->
<!ELEMENT faq (info,part+)>
<!ELEMENT info (titulo,autor,email,version,fecha)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT part (Q+)>
<!ATTLIST part number CDATA #REQUIRED>
<!ELEMENT Q (qtext,a)>
<!ATTLIST Q id CDATA #REQUIRED>
<!ELEMENT qtext (#PCDATA)>
<!ELEMENT a (#PCDATA)>
