vehiculo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="vehiculo" type="tipodevehiculo"/>
  <xs:element name="tipodevehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="barco" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="bicicleta" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="coche" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="tren" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
